@import url("https://fonts.googleapis.com/css2?family=Kaisei+Tokumin:wght@400;500;700&family=Poppins:wght@300;400;500&display=swap");

:root {
  --lg-font: "Kaisei Tokumin", serif;
  --sm-font: "Poppins", sans-serif;
  --pink: #317679; /* #e5345b - #317679*/
}
body {
  font-family: var(--sm-font);
}

/*================================*/
/* button */
.bg-primary {
  background-color: var(--pink) !important;
}

.btn:not(.nav-btns button) {
  background-color: #fff;
  color: rgb(85, 85, 85);
  padding: 10px 28px;
  border-radius: 25px;
  border: 1px solid rgb(85, 85, 85);
}
.btn:not(.nav-btns button):hover {
  background-color: var(--pink);
  color: #fff;
  border-color: var(--pink);
}

/* text color */
.text-primary {
  color: var(--pink) !important;
}

/*================================*/
/* navbar */
.logo-peruvian {
  width: 35px;
  border-radius: 50%;
}

.navbar {
  -webkit-box-shadow: 0 3px 9px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 9px 3px rgba(0, 0, 0, 0.1);
}

.navbar-brand span {
  letter-spacing: 0.8px;
  font-family: var(--lg-font);
}
.nav-link:hover {
  color: var(--pink) !important;
}
.nav-item {
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.05);
}

/*================================*/
/* header */
#header {
  background: url(./images/banner3.jpg) no-repeat top/cover;
}
.banner span {
  letter-spacing: none;
  color: white;
}
.carousel-inner h1 {
  font-size: 70px;
  font-family: var(--lg-font);
}
.carousel-item .btn {
  border-color: #fff !important;
}
.carousel-item .btn:hover {
  border-color: var(--pink) !important;
}

/*=====================================*/
/* title */
.title h2::before {
  position: absolute;
  content: "";
  width: 4px;
  height: 50px;
  background-color: var(--pink);
  left: -20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/*=====================================*/
/* collection */
.active-filter-btn {
  background-color: var(--pink) !important;
  color: #fff !important;
  border-color: var(--pink) !important;
}
.filter-button-group .btn:hover {
  color: #fff !important;
}
.collection-img span {
  top: 20px;
  right: 20px;
  width: 46px;
  height: 46px;
  border-radius: 50%;
}
