@import url("https://fonts.googleapis.com/css2?family=Kaisei+Tokumin:wght@400;500;700&family=Poppins:wght@300;400;500&display=swap");

:root {
  --lg-font: "Kaisei Tokumin", serif;
  --sm-font: "Poppins", sans-serif;
  --pink: #317679; /* #e5345b - #317679*/
}
body {
  font-family: var(--sm-font);
}

/*================================*/
/* button */
.bg-primary {
  background-color: var(--pink) !important;
}

.btn:not(.nav-btns button) {
  background-color: #fff;
  color: rgb(85, 85, 85);
  padding: 10px 28px;
  border-radius: 25px;
  border: 1px solid rgb(85, 85, 85);
}
.btn:not(.nav-btns button):hover {
  background-color: var(--pink);
  color: #fff;
  border-color: var(--pink);
}

/* text color */
.text-primary {
  color: var(--pink) !important;
}

/*================================*/
/* navbar */
.logo-peruvian {
  width: 35px;
  border-radius: 50%;
}
a .letter-peruvian {
  width: 180px;
}

.navbar {
  -webkit-box-shadow: 0 3px 9px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 9px 3px rgba(0, 0, 0, 0.1);
}

.navbar-brand span {
  letter-spacing: 0.8px;
  font-family: var(--lg-font);
}
.nav-link:hover {
  color: var(--pink) !important;
}
.nav-item {
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.05);
}
#carrito {
  align-items: center;
  width: 370px;
  background: white;
}
#carrito > * {
  margin: 5px;
}
/*================================*/
/* header */
#header {
  background: url(./images/banner3.jpg) no-repeat top/cover;
}

.carousel-inner h1 {
  font-size: 70px;
  font-family: var(--lg-font);
}
.carousel-item .btn {
  border-color: #fff !important;
}
.carousel-item .btn:hover {
  border-color: var(--pink) !important;
}

/*=====================================*/
/* title */
.title h2::before {
  position: absolute;
  content: "";
  width: 4px;
  height: 50px;
  background-color: var(--pink);
  left: -20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/*================================*/
/* collection */
.active-filter-btn {
  background-color: var(--pink) !important;
  color: #fff !important;
  border-color: var(--pink) !important;
}
.filter-button-group .btn:hover {
  color: #fff !important;
}
.collection-img span {
  top: 20px;
  right: 20px;
  width: 46px;
  height: 46px;
  border-radius: 50%;
}

.collection-img img {
  transition: all 0.3s ease;
}
.collection-img img:hover {
  transform: scale(1.1);
}
/*================================*/
/* special */
.special-img span {
  top: 20px;
  right: 20px;
}
.special-list .btn {
  padding: 8px 20px !important;
}
.special-img img {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.special-img:hover img {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

/*================================*/
/* offert*/
#offers {
  background: url(./images/banner5.jpg) center/cover no-repeat;
}
#offers .row {
  min-height: 60vh;
}
.offers-content span {
  font-size: 28px;
}
.offers-content h2 {
  font-size: 60px;
  font-family: var(--lg-font);
}
.offers-content .btn {
  border-color: transparent !important;
}

/*================================*/
/* about */
#about {
  background-color: rgba(179, 179, 179, 0.05);
}

/*================================*/
/* newsletter */
#newsletter {
  background-color: rgba(179, 179, 179, 0.05);
  background: url(./images/nosotros_1.jpg) center/cover no-repeat;
}
#newsletter p {
  max-width: 600px;
  color: rgb(255, 255, 255);
}

/*------------ Contact Form Validations ----------*/
.contact-form {
  --form-ok-color: #4caf50;
  --form-error-color: #f44336;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  background: #fff;
  padding: 40px 0;
  box-shadow: 0 0 5px 0px rgb(160, 160, 160);
  border-radius: 10px;
  padding: 20px;
  width: 500px;
  height: 580px;
}
input:focus,
textarea {
  outline: none;
  resize: none;
}
.contact-form > * {
  /*todos los hijos de formulario de contacto*/
  padding: 0.5rem;
  margin: 1rem auto;
  display: block;
  width: 100%;
}
.contact-form textarea {
  resize: none;
}
.contact-form legend,
.contact-form-reponse {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

.contact-form input,
.contact-form textarea {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 2;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgb(182, 184, 187);
  font-size: 1rem;
  border-radius: 25px;
}

.contact-form input[type="submit"] {
  width: 50%;
  cursor: pointer;
  background-color: var(--pink);
  color: #fff;
  border: none;
  border-radius: 25px;
  padding: 10px 28px;
}

.contact-form input[type="submit"]:hover {
  background-color: #000;
  border-color: #000;
}

.contact-form *::placeholder {
  color: rgb(180, 180, 180);
}

/* .contact-form [required]:valid {
  border: thin solid var(--form-ok-color);
}
.contact-form [required]:invalid {
  border: thin solid var(--form-error-color);
} */

.contact-form-error {
  margin-top: -1rem;
  font-size: 80%;
  background-color: var(--form-error-color);
  color: #fff;
  transition: all 0.8s ease;
}
.contact-form-error.is-active {
  display: block;
  animation: show-message 1s 1 normal 0s ease-out both;
}
.none {
  display: none;
}

@keyframes show-message {
  0% {
    visibility: hidden;
    opacity: 0%;
  }
  100% {
    visibility: visible;
    opacity: 100%;
  }
}

/*================================*/
/* footer */
footer .brand {
  font-family: var(--lg-font);
  letter-spacing: 1px;
}
footer a {
  -webkit-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
footer a:hover {
  color: var(--pink) !important;
}

/*================================*/
/* cart */
.cart {
  padding: 60px 0px 60px 0px;
}
#procesar-pago {
  margin: -75px 0px 0px 0px;
}
#procesar-pago > * {
  padding: 10px;
}
#cargando {
  display: none;
}
/*================================*/
/*================================*/
/* media queries */
@media (max-width: 992px) {
  .nav-item {
    border-bottom: none;
  }
  button.btn.position-relative {
    width: 50px;
    height: 50px;
    padding-bottom: 1px;
  }
  #carrito {
    align-items: center;
    width: 380px;
  }
  #carrito > * {
    margin: 5px;
  }
}

@media (max-width: 576px) {
  .container-nav a {
    display: block;
    justify-content: center;
    padding: 0;
  }
  .navbar {
    width: 100%;
  }
  button.btn.position-relative {
    width: 50px;
    height: 50px;
    padding-bottom: 1px;
  }
  #carrito {
    align-items: center;
    width: 240px;
    background: white;
  }
  #carrito > * {
    font-size: 10px;
    margin: 5px;
  }
  .carrito-producto {
    width: 50px;
  }
  .carousel-inner h1 {
    font-size: 50px;
    font-family: var(--lg-font);
  }
  a .letter-peruvian {
    display: none;
  }
  .contact-form {
    --form-ok-color: #4caf50;
    --form-error-color: #f44336;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    background: #fff;
    padding: 40px 0;
    box-shadow: 0 0 5px 0px rgb(160, 160, 160);
    border-radius: 10px;
    padding: 3px 15px 5px 15px;
    width: 350px;
    height: 100%;
  }
  .dsct-offert-banner {
    font-size: 45px !important;
  }
  .dsct-banner {
    font-size: 20px !important;
  }
}
